/*HEADER*/
*{
    margin: 0px;
    padding: 0px;
}

.sub{
    height:8%;
    width:100;
    background-color : #efefef;
    
}

figure{

display:flex;
justify-content:left;
position: absolute;
left:20px;
top:45px;

} 
.logo{

position:relative;
top:2px;

}

.ola{

text-decoration: none ;
font-family: verdana;
position: absolute;
top:95px;
left:130px;
font-size: 16px;


}

/*GENERAL*/

body{
    height: 100vh;
    background-color: #383333;
}

/*-----HEADER--------*/

header{
    width:100%;
    height:4%;
    background-color :  #000000;
}

.sub{
    height:10%;
    width:100;
    background-color : #efefef;
    
}

figure{

display:flex;
justify-content:left;
position: absolute;
left:20px;
top:45px;

} 
.logo{
    position:relative;
    top:2px;
}

/*-----MAIN--------*/

main{
    height: 75%;
    width: 100%;
}

/*-----FOOTER--------*/

footer{

    height: 28%;
    width: 100%;
    background-color: #c51f1f;
    background-color: #efefef;
}

.fig1{
    position:relative;
    top:28px;
}


.area{
    
    color:#db293b;
    background-color: #2b2a2a;
    
    border-radius: 5%;
    opacity:0.9;
    text-align: justify;
    height:18%;
    width: 18%;
    Position: absolute;
    bottom: -20%;
    right: 5%;
    right: 30px;    
    font-family:Helvetica;
    font-size:16px;
    line-height: 30px;
}

.t{
    margin:10px;
}



